<div class="container">
<div class="row footer">
<footer>
  <p><small>© {{date format="YYYY"}}. All Rights Reserved. </small><small><a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备17019205号</a></small></p>
  <p><small><a href="http://www.ropeal.com/ghostrap" target="_blank">Ghostrap Theme</a> by <a href="http://weibo.com/ropeal" target="_blank">ROPEAL</a></small><small> Powered by <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
</div>
</div>


