<div class="container-fluid">
<div class="row footer">
<footer>
  <p>© {{date format="YYYY"}}. All Rights Reserved. <a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备17019205号</a></p>
  <p><a href="http://www.ropeal.com/ghostrap" target="_blank">Ghostrap Theme</a> by <a href="http://weibo.com/ropeal" target="_blank">ROPEAL</a>
<iframe src="https://ghbtns.com/github-btn.html?user=ropeal&repo=ghostrap&type=star&count=true" frameborder="0" scrolling="0" width="85px" height="15px"></iframe>
  </p>
</footer>
</div>
</div>


