<div class="row text-center">
  <aside>
	<h4 class="text-left"><span class="glyphicon glyphicon-user"> 站长信息</span></h3>
	<hr />
    {{#if @blog.logo}}
        <img height="40%" width="40%" class="img-circle inline-center" src="{{@blog.logo}}" alt="Blog Logo">
    {{/if}}
    <h3>{{@blog.title}}</h1>
    <p>{{@blog.description}}</p>
    <p class="large">  
    <a href="http://weibo.com/ropeal" target="_blank"><i class="fa fa-weibo"></i></a>
    <a href="http://twitter.com/ropeal" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://github.com/ropeal" target="_blank"><i class="fa fa-github"></i></a>
  </p>
  <p style="padding-left:7em">
    <iframe src="https://ghbtns.com/github-btn.html?user=ropeal&repo=ghostrap&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
  </p>
  </aside>
</div>
 
